registry=https://arrivelogistics.pkgs.visualstudio.com/_packaging/Accelerate-UI-Modules/npm/registry/
always-auth=true
; begin auth token
//arrivelogistics.pkgs.visualstudio.com/_packaging/Accelerate-UI-Modules/npm/registry/:username=ArriveLogistics
//arrivelogistics.pkgs.visualstudio.com/_packaging/Accelerate-UI-Modules/npm/registry/:_password=NXI0aW4ydTRtNmZsM290cWV6amJ5Y3EzM3djZGY1ZnhyeGN4NXhhNTU0d3M1d3NmdW9yYQ==
//arrivelogistics.pkgs.visualstudio.com/_packaging/Accelerate-UI-Modules/npm/registry/:email=npm requires email to be set but doesn't use the value
//arrivelogistics.pkgs.visualstudio.com/_packaging/Accelerate-UI-Modules/npm/:username=ArriveLogistics
//arrivelogistics.pkgs.visualstudio.com/_packaging/Accelerate-UI-Modules/npm/:_password=NXI0aW4ydTRtNmZsM290cWV6amJ5Y3EzM3djZGY1ZnhyeGN4NXhhNTU0d3M1d3NmdW9yYQ==
//arrivelogistics.pkgs.visualstudio.com/_packaging/Accelerate-UI-Modules/npm/:email=npm requires email to be set but doesn't use the value
; end auth token